*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EEEEEE;
}

.login-form{
    height: 500px;
    width: 850px;
    background-color: white;
    border-radius: 25px;
    box-shadow: 0 0 7px 7px rgba(0, 0, 0, 0.1);
    display: flex;
}

.login-form .lf-panel{
    width: 50%;
    background-color: #C7EEFF;
    min-height: 100%;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
   
}

.login-form .rt-panel{
    width: 50%;
    background-color: white;
    min-height: 100%;
    border-radius: 25px;
    padding: 20px;
}


.login-form .rt-panel .buttons{
    display: flex;
    align-items: center;
    justify-content: center;
}



.login-form .rt-panel .btn{
    width: 150px;
    margin: 10px;
}

.login-form .rt-panel .links{
    display: flex;
    align-items: center;
    justify-content: center;
    margin:10px;
}

.login-form .rt-panel .links a{
    margin: 5px;
    text-decoration: none;
    color: black;
}